@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* ================- RESET -================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ================- VARIABLES -================ */
:root {
  --header-height: 4.5rem;

  /* HSL color mode */
  --base-color: hsl(0 0% 98%);
  --base-color-second: hsl(223 41% 22%);
  --base-color-alt: hsl(126, 88%, 44%);
  --base-color-alt-hover: hsl(126, 90%, 28%);
  --title-color: hsl(0 0% 98%);
  --text-color: hsl(0 0% 98%);
  --text-color-light: hsl(223 41% 12%);
  --body-color: hsl(223 41% 12%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Roboto', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

/* ================- BASE -================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color-alt);
  color: var(--text-color);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt-hover);
}

.divider-1 {
  height: 2px;
  background: linear-gradient(270deg, rgba(122, 31, 197, 1), rgb(27, 85, 209));
}

.divider-2 {
  height: 2px;
  background: linear-gradient(270deg, rgb(27, 85, 209), rgba(122, 31, 197, 1));
}

/* ================- LAYOUT -================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgb(48, 66, 114);
  background: linear-gradient(
    90deg,
    rgba(48, 66, 114, 1) 0%,
    rgba(47, 97, 184, 1) 50%,
    rgba(122, 31, 197, 1) 100%
  );
  /* background-color: var(--body-color); */
  transition: background 0.5s;
}

#header .icon-menu {
  color: var(--base-color);
  transition: 0.5s;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  transition: 1s;
}

/* ================- LOGO -================ */
.logo {
  width: 200px;
}

/* ================- NAVIGATION -================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* SHOW MENU */
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* TOGGLE MENU */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* ================- HOME -================ */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  margin-left: 2rem;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.6rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

/* ================- ABOUT -================ */
#about {
  background: var(--text-color-light);
}

#about .container {
  margin: 0;
  align-items: center;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.8rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ================- FEATURES -================ */
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-bottom: 0.25rem solid var(--base-color-alt);
  border-radius: 0.8rem;
  text-align: center;
  background-color: var(--base-color-second);
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* ================- TESTIMONIALS -================ */
#testimonials {
  background: (var(--base-color-second));
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;
  background-color: var(--base-color-second);
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.575rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* ================- SWIPER -================ */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color-alt);
}

/* ================- REQUIREMENTS -================ */
#requirements {
  gap: 4rem;
}

#requirements .text p {
  margin-bottom: 2rem;
}

#requirements .button i,
#requirements ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#requirements ul.grid {
  gap: 2rem;
}

#requirements ul li {
  display: flex;
  align-items: center;
}

#requirements ul li i {
  color: var(--base-color);
}

/* ================- FOOTER -================ */
footer {
  background: var(--base-color-second);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  width: 320px;
}

footer .brand p {
  color: var(--text-color);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/* BACK TO TOP */
.back-to-top {
  background: var(--base-color-alt);
  color: var(--text-color);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  clip-path: circle();
  font-size: 1.5rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

/* RESPONSIVE */
/* ========= MEDIA QUERIES ========= */
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* Resusable Classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* Navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* Layout */
  main {
    margin-top: var(--header-height);
  }

  /* Home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24.75rem;
    text-align: left;
  }

  /* About */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* Services and Products */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* Testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* requirements */
  #requirements .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #requirements .text {
    max-width: 25rem;
  }

  /* Footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: 1023 > */
@media (min-width: 1023px) {
  /* Resusable Classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* Navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 500 1rem var(--body-font);
  }

  nav .icon-menu {
    display: none;
  }

  /* Layout */
  main {
    margin-top: var(--header-height);
  }

  /* Home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24.75rem;
    text-align: left;
  }

  /* About */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* Services and Products */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* Testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* requirements */
  #requirements .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #requirements .text {
    max-width: 25rem;
  }

  /* Footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  /* Layout */
  main {
    margin-top: var(--header-height);
  }

  /* Home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24.75rem;
    text-align: left;
  }

  /* About */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* Services and Products */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* Footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* medium devices: 767 > */
@media (min-width: 767px) {
  /* Layout */
  main {
    margin-top: var(--header-height);
  }

  /* Home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24.75rem;
    text-align: left;
  }

  /* About */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* Footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
